<style>
    body {
        background: url("static/access_denied.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<head>
    <title>В доступе отказано</title>
    <link rel="stylesheet" href='static/main.css'>
</head>

<body>
    <tr>
        <p align="center" style="font-size: 100px;">В доступе отказано!</p>
        <p align="center" style="font-size: 60px;"><a href="/waiting">Вернуться на главную.</a></p>
    </tr>
    </form>
</body