<style>
    body {
        background: url("https://png.pngtree.com/background/20230616/original/pngtree-painting-of-an-under-water-turtle-picture-image_3635254.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }
</style>

<head>
    <title>Добавить игроков</title>
    <link rel="stylesheet" href='static/main.css'>
</head>

<body>
    <form method="POST">
        <center>
            <label for="player1">Игрок1: </label>
            <select name="player1" id="player1">
                {% for player in players %}
                <option value={{player}}>{{player}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="player2">Игрок2: </label>
            <select name="player2" id="player2">
                {% for player in players %}
                <option value={{player}}>{{player}}</option>
                {% endfor %}
            </select>
            <br>
            <button>Создать игру</button></p>
        </center>
    </form>
</body