<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <center>
        <title>Фон</title>
        <style>
            .fig {
                text-align: center;
            }
        </style>
        <style>
            body {
                background: url(authError.png) no-repeat;
            }
        </style>

        <div class="head_info">
        </div>
        <b><big><big>Введён неверный логин или пароль!</big></big></b>
        <br>
        <big>
            <p><a href="/login">Попробовать снова</a></p>
        </big>
    </center>
</body>

</html>