<!DOCTYPE html>
<html>

<body>
    <title>Авторизация</title>
    <center>
        <form method="POST">
            <style>
                body {
                    background: url("static/auth_bg.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            </style>
            <b><small>
                    <p style="color:black;">Пользователь</p>
                </small></b>
            <input name="username" maxlength="10" size="20">
            <br>
            <b><small>
                    <p style="color:black;">Пароль</p>
                </small></b>
            <input type="password" name="password" size="20">
            <br>
            <br>
            <input type="submit">
        </form>

        <p><a href="/registration">Зарегестрироваться</a></p>
    </center>
</body>

</html>