<style>
    a {
        font-family: 'segoe script', sans-serif;
        font-size: 40px;
    }

    body {
        background: url("static/authError.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    b {
        font-family: 'segoe script', sans-serif;
        color: blask;
        font-size: 60px;


    }
</style>

<head>
    <title>Ошибка авторизации</title>
</head>

<body>
    <center>
        <b>Введён неверный логин или пароль!</b>
        <br>
        <p><a href="/login">Попробовать снова</a></p>
    </center>
</body>