<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <center>
        <title>Фон</title>
        <style>
            .fig {
                text-align: center;
            }
        </style>
        <style>
            body {
                background: url(https://avatars.mds.yandex.net/i?id=bf8088cbed21b7134a622b76b72aed8cc32a738e-8507274-images-thumbs&n=13) no-repeat;
                /* Параметры фона */
            }
        </style>

        <div class="head_info">
        </div>
        <b><big><big>Введён неверный логин или пароль!</big></big></b>
        <br>
        <big>
            <p><a href="/login">Попробовать снова</a></p>
        </big>
    </center>
</body>

</html>