<style>
    a {
        font-family: 'segoe script', sans-serif;
        color: #FF00FF;

    }

    h1 {
        font-family: 'segoe script', sans-serif;
    }

    body {
        background: url(https://media.istockphoto.com/vectors/sad-sailor-vector-id1128865875?k=20&m=1128865875&s=170667a&w=0&h=SmyRayrzfSKtpt9-sdSOw0GLnxzFeKHwJZBm6AaRPWg=);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;

    }
</style>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <tr>
        <h1 align="center" style="font-size: 60px;">Такое поле уже существует!</h1>
        <p align="center" style="font-size: 40px;"><a href="/creating-field">Попробывать снова</a></p>
    </tr>

</body>