<style>
    body {
        background: url("static/bubbles.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<head>
    <title>Создание поля</title>
    <link rel="stylesheet" href='static/main.css'>
</head>

<body>
    <center>
        <form method="POST">
            <b>Размер поля</b>
            <br>
            <br>
            <input type="number" max="27" name="fieldsize" value="10"> <br>
            <br>
            <b>Название поля</b>
            <br>
            <input type="text" name="fieldname" value="{{suggestedName}}">
            <br>
            <br>
            <input type="submit" value="Создать">
        </form>
    </center>
</body>