<style>
    p {
        font-family: 'segoe script', sans-serif;
        color: blask;

    }

    body {
        background: url("static/create_field.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    a {
        font-family: 'segoe script', sans-serif;
        color: #4B0082;
    }
</style>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <tr>
        <p align="center" style="font-size: 100px;">Поле успешно сохранено!</p>
        <p align="center" style="font-size: 60px;"><a href="/fields">Вернуться к полям</a></p>
    </tr>
</body