<style>
    body {
        font-family: 'segoe script', sans-serif;
        font-weight: 300;
        background-color: #1F2739;
        font-size: 50pt;
    }
</style>
<html lang="en">

<head>
    <title>Редактирование поля</title>
    <link rel="stylesheet" href='static/main.css' />
</head>

<body>
    <div>
        <table border=1 cellspacing="0" align="center" class="container">
            {% for x in range (len) %}
            <tr>
                {% for y in range (len) %}
                <td {% if field[x][y]==0 %} onclick="cellUpdate({{ x }}, {{ y }})" class="sea"></td>
                {% else %}
                {% if field[x][y] == 1 %}
                onclick="cellUpdate({{ x }}, {{ y }})" class="ship"></td>
                {% else %}
                class="border">{{field[x][y]}}</td>
                {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <form method="POST">
            <p align="center"><button>Сохранить</button></p>
        </form>
        <br>
        <script src="static/field.js"></script>
    </div>
</body>

</html>