<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Редактирование поля</title>
    <link rel="stylesheet" href='static/main.css' />
</head>

<body>
    <div>
        <table border=1 cellspacing="0" align="center" class="container">
            {% for x in range (1, len) %}
            <tr>
                {% for y in range (1, len) %}
                <td onclick="cellUpdate({{ x }}, {{ y }})" {% if field[x][y]==1 %} class="ship" {% else %} class="sea" {%
                    endif %}></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <form method="POST">
            <p align="center"><button>Сохранить</button></p>
        </form>
        <br>
        <script src="static/field.js"></script>
        <script src="static/wait_for_update.js"></script>

    </div>
</body>

</html>