<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<style>
    body {
        background-color: #ADD8E6;

    }

    t {
        font-size: 65px;
        font-family: 'segoe script', sans-serif;
        color: back;
    }

    r {
        font-size: 75px;
        font-family: 'Arial', sans-serif;
        color: back;
    }
</style>

<head>

<body>
    <center>
        <meta charset="UTF-8">
        <title> Конец игры </title>
        <link rel="stylesheet" href='static/main.css' />
        </head>
    </center>
</body>

<body>
    <center>
        <r>Игра окончена!</r> <br>{% if len != 0 %}
        <t>Вы выиграли призы:
            {% for prize in prizes %}
            <br> &#183; {{prize}}
            {% endfor %}
            {% else %}
            Вы ничего не выиграли
            {% endif %}
        </t>
        <p align="center"><a href="/waiting">Вернуться на главное меню</a></p>
    </center>
</body>

</html>