<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Квадратная матрица</title>
</head>

<body>
    <script>
        function changeColor(el) {
            // Получаем значение ячейки
            var value = el.dataset.value;
            // Меняем значение ячейки в data
            data[el.dataset.row][el.dataset.col] = value === "0" ? 1 : 0;
            // Меняем цвет ячейки
            el.style.backgroundColor = value ? "red" : "white";
        }
    </script>
    <table>
        <tr>
            for (var i = 0; i < data.length; i++) { <tr>
                for (var j = 0; j < data.length; j++) { // Создаем ячейку 
                    <td data-row="i" data-col="j"
                    onclick="changeColor(this)">
                    <span data-value="data[i][j]"></span>
                    </td>
                    }
        </tr>
        }
        </tr>
    </table>
</body>

</html>