<style>
             button {
              background-color: #00CCCC;
              border-color:blask;
              color:black;
              font-size: 15pt;

 }
 </style>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<!DOCTYPE html>
<html>

<body>
    <center>
        <form method="POST">
  <title>Фон</title>
  <style>
   body {
    background: url(https://phonoteka.org/uploads/posts/2021-05/1620188146_22-phonoteka_org-p-voda-foni-multyashnie-33.jpg) repeat;
    background-size: 1280px;
   }
  </style>

    <div class="head_info">
    </div>
            <b><big> <big><big>Размер поля</big></big> </big></b>
            <br>
            <input type="number" max="27" name="fieldsize">
            <br>
            <br>

            <b><big><big> <big>Название поля</big></big> </big></b>
            <br>
            <br>
            <input name="fieldname">
            <br>
            <br>
            <big><big><big><button>Отправить</button></big></big></big>
        </form>
    </center>
</body>

</html>

</body>
</html>


</body>
</html>



