<style>
    body {
        background: url("static/auth_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href='static/main.css'>
</head>

<body>
    <center>
        <form method="POST">
            <div class="head_info"></div>
            <b>
                <p style="color:black;">Придумайте никнейм</p>
            </b>
            <input type="text" name="username" maxlength="10">
            <b>
                <p style="color:black;">Придумайте пароль</p>
            </b>
            <input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Создать">
            <p><a href="/login">Есть аккаунт? Авторизуйся!</a></p>
        </form>
    </center>
</body>