<!DOCTYPE html>
<html>

<body>
    <title>Регистрация</title>
    <center>
        <form method="POST">
            <meta charset="utf-8">
            <style>
                body {
                    background: url("static/auth_bg.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            </style>
            <b><small>
                    <p style="color:black;">Придумайте имя пользователя:</p>
                </small></b>
            <input name="username" size="20" maxlength="10">
            <br>
            <b><small>
                    <p style="color:black;">Придумайте пароль:</p>
                </small></b>
            <input type="password" name="password" size="20">
            <br>
            <br>
            <input type="submit">
        </form>

        <p><a href="/login">Авторизоваться</a></p>
    </center>
</body>

</html>