<!DOCTYPE html>
<html lang="en">
<head>
<table>
    <center>
        <form method="POST">
  <title>Фон</title>
  <style>
   body {
    background: url(https://avatars.mds.yandex.net/i?id=ab2d412ba3ce58ea10dffa618fe0571834d6fdc0-11271031-images-thumbs&n=13) no-repeat;
    background-size: 1280px;
   }
  </style>

    <div class="head_info">
    </div>

<head>
<table>
    {% for pos in poses %}
        </td><b><big><form name=input method="post">
            {{pos}}</big><b><td>
            <input type="text" size="40">
        </form>
    {% endfor %}</table>
</head>
<body>

</body>


