<style>
    body {
        height: 500px;
        background: url(https://img.freepik.com/free-photo/sea-water-background_74190-1326.jpg) no-repeat;
        background-size: cover;
        background-repeat: repeat-x;

    }
</style>
<html lang="en">

<head>
    <title>Просмотр полей</title>
    <link rel="stylesheet" href='static/main.css'>
</head>

<body>
    <form method="POST">
        {% for field in fields %}
        <div>
            <p>{{field}}</p>
            <button name="play" value="{{field}}">Играть</button>
            <button name="edit" value="{{field}}">Редактировать</button>
            <button name="delete" value="{{field}}">Удалить</button></p>
        </div>
        {% endfor %}
        <p align="center">
            <button name="create" value="{{field}}">Создать поле</button></font>
        </p>
    </form>
</body>

</html>