<style>
    body {
        background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612755086_79-p-fon-golubie-volni-90.jpg) no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<head>
    <title>Экран ожидания</title>
    <link rel="stylesheet" href='static/main.css' />
</head>
<script>
    async function sendStatus() {
        setTimeout(function () {
            data = new Object(); fetch("waiting", {
                method: 'POST', headers: new Headers({
                    'Content-Type': 'application/json'
                }),
                body: JSON.stringify(data)
            })
                .then((response) => response.text()).then((responseText) => {
                    if (responseText.startsWith("GAME")) window.location.replace('/game');
                    return null;
                })
            sendStatus();
        }, 5000)
    } sendStatus();
</script>

<body bgcolor="#000" background="nubex.png">
    <figure>
        <audio autoplay src="https://zvukogram.com/index.php?r=site/download&id=80524"></audio>
    </figure>
    <p align="center">
        ВЫ УСПЕШНО АВТОРИЗОВАЛИСЬ КАК {{username}}! </p>
    <p align="center">ХОРОШЕЙ ИГРЫ</p>
    <p align="center">ПРАВИЛА ИГРЫ </p>
    <strong>
        <p class="rules" align="center">После присоединения к игре приготовьтесь к настоящему бою. Ваша задача
            уничтожить как можно больше кораблей, стреляя в пустые клетки в ваш ход. После каждого попадания вам будут даваться призы, которые вы можете
            посмортеть в таблице призов.</p>
    </strong>
    {% if len != 0 %}
        <p align="center"> СПИСОК ПРИЗОВ</p>
        <center>
            {% for prize in prizes %}
            <p>&#183; {{prize.name}}</p>
            {% endfor %}
        </center>
    {% else %}
        <p align="center"> У вас пока нет призов :( Полученные будут отображаться здесь</p>
    {% endif %}
    </body>