<style>
    body {
        height: 250px;
        background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612755086_79-p-fon-golubie-volni-90.jpg) no-repeat;
        background-size: cover;
    }
</style>

<head>
    <title>Экран ожидания</title>
    <link rel="stylesheet" href='static/main.css' />
</head>
<script>
    async function sendStatus() {
        setTimeout(function () {
            data = new Object(); fetch("waiting", {
                method: 'POST', headers: new Headers({
                    'Content-Type': 'application/json'
                }),
                body: JSON.stringify(data)
            })
                .then((response) => response.text()).then((responseText) => {
                    if (responseText.startsWith("GAME")) window.location.replace('/game');
                    return null;
                })
            sendStatus();
        }, 5000)
    } sendStatus();
</script>

<body bgcolor="#000" background="nubex.png">
    <figure>
        <audio autoplay src="https://zvukogram.com/index.php?r=site/download&id=80524"></audio>
    </figure>
    <p align="center">
        ВЫ УСПЕШНО АВТОРИЗОВАЛИСЬ КАК {{username}}! </p>
    <p align="center">ХОРОШЕЙ ИГРЫ</p>
    <p align="center">ПРАВИЛА ИГРЫ </p>
    <strong>
        <p class="rules" align="center">После присоединения к игре приготовьтесь к настоящему бою. Ваша задача
            уничтожить как можно больше кораблей, стреляя в пустые клетки в ваш ход. После каждого попадания вам будут даваться призы, которые вы можете
            посмортеть в таблице призов.</p>
    </strong>
    <p align="center"> ТАБЛИЦА ПРИЗОВ</p>

    <body>
        <table class="prizes">
            <tr class="prizes">
                <th class="prizes">Призы</th>
                <th class="prizes">Дата выдачи</th>
            </tr>
            <tr>{% for prize in prizes %} <td>{{prize[0]}}</td>
                <td>{{prize[1]}}</td> {% endfor %}
            </tr>
        </table>
    </body>